extends ../_layouts/base

include ../_modules/ads/ads
include ../_modules/slider/slider
include ../_modules/modal/modal
include ../_modules/show-more/show-more
include ../_modules/multirange/buscador-tapas

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.buscador-tapas
    
        section.buscador-tapas__search
            .container
                .row
                    .col-xs-24
                        form.buscador-tapas__search__container
                            +buscador-tapas
                            
        section.buscador-tapas__highlight
            .buscador-tapas__highlight__container
                .buscador-tapas__highlight__title 
                    span destacadas de la semana
                    i
                .buscador-tapas__highlight__wrapper
                    +slider('buscador-tapas__highlight__slider', 'cover')
                        each item in site.data.tapas
                            .buscador-tapas__highlight__slide
                                .buscador-tapas__cover
                                    .buscador-tapas__cover__image
                                        img(src=item.tapa)
                                    .buscador-tapas__cover__date
                                        span=item.date
        .buscador-tapas__ads
            +ads('leaderboard', '/images/ads/flow.jpg')
                
        section.buscador-tapas__gallery
            .container
                .row
                    .col-xs-24
                        .buscador-tapas__gallery__title
                            span Busqueda por decadas
                            i
                .row
                    .col-xs-24
                        ul.buscador-tapas__gallery__selectors
                            each item in site.data.decadeSelectors
                                li.buscador-tapas__gallery__selector
                                    input(type='radio', id=item.id, name='covertype', checked=item.checked)
                                    label(for=item.id)=item.label
                .row
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-12.col-sm-8.col-md-6
                        .buscador-tapas__cover
                            .buscador-tapas__cover__image
                                a(href="#", data-modal="open")
                                    img(src='https://picsum.photos/1240/700/')
                            .buscador-tapas__cover__date
                                span 2 de Mayo de 1958
                    .col-xs-24.text-center
                        +show-more('VER MAS TAPAS')
        .buscador-tapas__ads
            +ads('leaderboard', '/images/ads/flow.jpg')
            
        +modal
            .buscador-tapas__single-cover
                .buscador-tapas__single-cover__image-wrapper
                    .buscador-tapas__single-cover__image
                        img(src='https://picsum.photos/1240/700/')
                .buscador-tapas__single-cover__data
                    h2.buscador-tapas__single-cover__title Golazo de Messi a Boca
                    p.buscador-tapas__single-cover__text Con algo de fortuna le llegó el balón al crack argentino tras un flojo despeje de Buffarini y después, después definió de manera magistral ante la salida de Andrada.

                ul.buscador-tapas__single-cover__social
                    li
                        a(href="#")
                            i.fa.fa-instagram
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-twitter    
                         
