extends ../_layouts/base

include ../_modules/article/article
include ../_modules/ads/ads
include ../_modules/searchbox/searchbox
include ../_modules/show-more/show-more
include ../_modules/modal/modal
include ../_modules/slider/slider


block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.multimedia.multimedia--standalone
        section.multimedia__search
            +searchbox('Buscá videos por palabra clave (Ej. Messi)')
                        
        section.multimedia__videos
            .multimedia__videos__wrapper
                +slider('multimedia__videos__slider', 'multi')
                    each video, index in site.data.home.videos
                        .multimedia__videos__slide
                            .multimedia__video(data-video-index="video-#{index}")
                                .multimedia__video__heading
                                    h2.multimedia__video__section
                                        span= video.section
                                        i
                                .multimedia__video__player
                                    .multimedia__video__placeholder
                                        img(src="https://img.youtube.com/vi/#{video.id}/0.jpg")
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(src="https://youtube.com/embed/#{video.id}?autoplay=0&controls=0&showinfo=0&rel=0&modestbranding=1")
                                .multimedia__video__data
                                    p.multimedia__video__subtitle Video del dia
                                    h3.multimedia__video__title= video.title
                                    p.multimedia__video__desc= video.desc
                                ul.multimedia__video__social
                                    li
                                        a(href="#")
                                            i.fa.fa-instagram
                                    li
                                        a(href="#")
                                            i.fa.fa-facebook
                                    li
                                        a(href="#")
                                            i.fa.fa-twitter
            
        section.multimedia__ads
            .container
                .row
                    .col-xs-24
                        +ads('leaderboard', '/images/ads/flow.jpg')
        section.multimedia__most-viewed-videos
            .container
                .row.nopadding
                    .col-xs-24
                        h2.multimedia__most-viewed-videos__title 
                            span MAS VIDEOS
                            i
            
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    .col-xs-24.col-sm-12
                        +article('video', {'video':'SE_JPAeFjZc'}, '', false, false, false)
                    
                    .col-xs-24
                        .multimedia__most-viewed-videos__more-button
                            +show-more('VER MAS VIDEOS')

        section.multimedia__ads
            .container
                .row
                    .col-xs-24
                        +ads('leaderboard', '/images/ads/flow.jpg')
                        
    +modal
        .multimedia__video-single__player
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/SE_JPAeFjZc")
                
        .multimedia__video-single__data
            p.multimedia__video-single__subtitle VIDEOS DEL DIA
            h2.multimedia__video-single__title Golazo de Messi a Boca
            p.multimedia__video-single__author Por Redacción EG · 29 de agosto de 2018
            p.multimedia__video-single__text Con algo de fortuna le llegó el balón al crack argentino tras un flojo despeje de Buffarini y después, después definió de manera magistral ante la salida de Andrada.

        ul.multimedia__video-single__social
            li
                a(href="#")
                    i.fa.fa-instagram
            li
                a(href="#")
                    i.fa.fa-facebook
            li
                a(href="#")
                    i.fa.fa-twitter
