header.header.-ontop
    .header__logo
        a(href="/")
            | <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg> 
    
    .header__hamburguer.header__hamburguer--mobile
        span
        span
        span
    
    nav.header__nav
        
        .header__nav__main
            .header__hamburguer.header__hamburguer--nav
                span
                span
                span
            
        
        .header__nav__menu
            ul.header__menu.header__menu--main
                each item in site.data.header
                    li
                        a(href=item.url)= item.name
                            if item.submenu
                                i.material-icons keyboard_arrow_down
                        if item.submenu
                            ul.header__submenu
                                each link in item.submenu
                                    li
                                        a(href=link.url)= link.name
            ul.header__menu.header__menu--secondary
                each item in site.data.index
                    li
                        a(href=item.url)= item.name
                            if item.submenu
                                i.material-icons keyboard_arrow_down
                        if item.submenu
                            ul.header__submenu
                                each link in item.submenu
                                    li
                                        a(href=link.url)= link.name
        
        .header__nav__secondary
            .header__search
                button.header__search__toggle
                    i.material-icons.-search search
                    i.material-icons.-close close
                form.header__search__box
                    input.header__search__input(type="text", placeholder="Buscar...")
                    button.header__search__button
                        i.material-icons search
            .header__social
                span.header__social__tag Seguínos
                ul.header__social__list
                    each red in site.data.social
                        li
                            a(href=red.url, target="_blank")
                                i(class="fa fa-#{red.name}")
