mixin article(mode, data, ztyle, nopic, nosection, nosummary)
    - var data = data ? data : {};
    
    article.article(class="#{mode === 'cover' ? 'article--cover' : ''} #{mode === 'bigcover' ? 'article--bigcover' : ''} #{mode === 'compact' ? 'article--compact' : ''} #{ztyle === 'gray' ? 'article--gray' : ''} #{mode === 'picleft' ? 'article--picleft' : ''} #{mode === 'picright' ? 'article--picright' : ''} #{mode === 'latapa' ? 'article--latapa' : ''}" )
        if nopic == false
            .article__img
                a(href="/nota")
                    img(src="#{data.img ? data.img : 'https://picsum.photos/720/540/'}")
        .article__data
            .article__data__info
                if nosection == false
                    .article__section= data.section ? data.section : 'Nombre de Sección'
                a(href="/nota")
                    h3.article__title= data.title ? data.title : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
                if nosummary == false
                    p.article__summary= data.summary ? data.summary : 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip'
            if data.sponsor
                .article__sponsor
                    img(src=data.sponsor)
    
            
        
            
        
