extends _layouts/base

include _modules/article/article
include _modules/ads/ads
include _modules/slider/slider
include _modules/multirange/buscador-tapas

block content
    main.home
        section.home__hero
            +article('bigcover', site.data.home.cover, '', false, false, false)
        section.home__ads
            +ads('leaderboard', '/images/ads/flow.jpg')
        section.home__main-articles
            .container
                .row.-flexrow
                    each article in site.data.home.main
                        .col-xs-24.col-sm-12.col-md-8
                            +article('cover', article, '', false, false, false)
        section.home__interest
            .container-fluid
                .row.nopadding
                    .col-xs-24
                        h2.home__interest__title
                            span Temas que interesan
                            i
                    each item in site.data.home.interest
                        .col-xs-24.col-sm-12.col-md-6
                            .home__interest__article
                                .home__interest__article__img
                                    a(href="#")
                                        img(src=item.img)
                                .home__interest__article__overlay
                                    span= item.title
        .container
            .row
                .col-xs-24.col-sm-16
                    section.home__latest
                        h2.home__latest__title
                            span Lo Último
                            i
                        .home__latest__article
                            +article('cover', {}, '', false, false, false)
                        ._divider
                        .home__latest__article
                            +article('picleft', {}, '', false, false, false)
                        ._divider
                        .home__latest__article
                            +article('picleft', {}, '', false, false, false)
                        ._divider
                        .home__latest__article
                            +article('picleft', {}, '', false, false, false)
                        ._divider
                        .home__latest__article
                            +article('picleft', {}, '', false, false, false)
                        ._divider
                        .home__latest__article
                            +article('picleft', {}, '', false, false, false)
                        ._divider
                        
                        a.home__latest__viewmore(href="#") Ver más contenidos
                                    
                .col-xs-24.col-sm-8
                    .home__sidebar
                        .home__sidebar__ads
                            +ads('rectangle', '/images/ads/corolla.jpg')
                        section.home__most-viewed
                            .home__most-viewed__title
                                span Lo más visto
                                i
                            .home__most-viewed__article
                                +article('compact', {}, '', true, false, true)
                            ._divider
                            .home__most-viewed__article
                                +article('compact', {}, '', true, false, true)
                            ._divider
                            .home__most-viewed__article
                                +article('compact', {}, '', true, false, true)
                            ._divider
                            .home__most-viewed__article
                                +article('compact', {}, '', true, false, true)
                            ._divider
                            .home__most-viewed__article
                                +article('compact', {}, '', true, false, true)
                        .home__suscribe
                            h3.home__suscribe__title ¡Conectemos!
                            ul.home__suscribe__social
                                each red in site.data.social
                                    li
                                        a(href=red.url, target="_blank")
                                            i(class="fa fa-#{red.name}")
                            form.home__suscribe__box
                                label.home__suscribe__box__label Recibí todas las semanas contenidos exclusivos
                                input.home__suscribe__box__input(type="email", placeholder="Tu email")
                                button.home__suscribe__box__button Suscribir
                        .home__sidebar__ads
                            +ads('skyscrapper', '/images/ads/galaxy.jpg')
                                
        section.home__tapas
            .container
                .row
                    .col-xs-24.col-sm-10
                        .home__tapas__cover
                            img(src="/images/home/tapa.jpg")
                    .col-xs-24.col-sm-14
                        .home__tapas__heading
                            h2.home__tapas__section La Tapa destacada de Hoy
                            a.home__tapas__link(href="/buscador-tapas") Ver todas
                        .home__tapas__body
                            span.home__tapas__date 25 de abril de 1952
                            h3.home__tapas__title Guerrero y Cappozzo antes del oro olímpico
                            p.home__tapas__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                        form.home__tapas__search
                            +buscador-tapas
                    
        section.home__latapa
            .container
                .row
                    .col-xs-24
                        .home__latapa__title
                            span La Tapa
                            i
                    .col-xs-24.col-sm-8.col-md-6
                        .home__latapa__article
                            +article('latapa', {"section":"2 de mayo de 1958"}, '', false, false, false)
                    .col-xs-24.col-sm-8.col-md-6
                        .home__latapa__article
                            +article('latapa', {"section":"2 de mayo de 1958"}, '', false, false, false)
                    .col-xs-24.col-sm-8.col-md-6
                        .home__latapa__article
                            +article('latapa', {"section":"2 de mayo de 1958"}, '', false, false, false)
                    .col-xs-24.hidden-sm.col-md-6
                        .home__latapa__ads
                            +ads('skyscrapper', '/images/ads/galaxy.jpg')
                ._divider
                .row
                    .col-xs-24
                        .home__latapa__ads
                            +ads('leaderboard', '/images/ads/flow.jpg')
                            
        section.home__videos
            .home__videos__wrapper
                +slider('home__videos__slider', 'multi')
                    each video, index in site.data.home.videos
                        .home__videos__slide
                            .home__video(data-video-index="video-#{index}")
                                .home__video__heading
                                    h2.home__video__section
                                        span= video.section
                                        i
                                .home__video__player
                                    .home__video__placeholder
                                        img(src="https://img.youtube.com/vi/#{video.id}/0.jpg")
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(src="https://youtube.com/embed/#{video.id}?autoplay=0&controls=0&showinfo=0&rel=0&modestbranding=1")
                                .home__video__data
                                    h3.home__video__title= video.title
                                    p.home__video__desc= video.desc
                                
        section.home__fotos
            .container
                .row
                    .col-xs-24
                        .home__fotos__title
                            span Las fotos de el Gráfico
                            i
                    .col-xs-24
                        +article('picleft', {}, 'gray', false, false, false)
                    .col-xs-24
                        +article('picright', {}, '', false, false, false)
                    .col-xs-24
                        +article('picleft', {}, 'gray', false, false, false)
                    .col-xs-24
                        .home__fotos__ads
                            +ads('leaderboard', '/images/ads/flow.jpg')
